/* ALL CONTAINERS */
.appContainer {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* occupies a available space between elements inside parent flex container */
.mainContentWrapper {
  flex: 1; 
}

.centerContainer {
	width: 80%;
	margin: 0px auto;
}

.flexContainerRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flexContainerRowCenter {
  display: flex;
  justify-content: center;
}

.flexContainerColumn {
  display: flex;
  flex-direction: column;
}

/* IMAGES FILTER */
.imagesFilter {
  filter: grayscale(.2);
  &:hover {
    filter: grayscale(0);
  }
}

/* 'a' TAGS*/
a {
  color: $mainColor;
  text-decoration: none;

  &:hover {
    color: $secColor;
  }
}
