.sectionTitle {
	padding: .7em 0;
	font-size: responsive 12px 20px;
	text-align: center;
	background: $mainColor;
	color: white;
	flex: 1;
}

.feedContainer {
  border: 1px solid lightgray;
}

.titleContainer {
	align-items: center;
	background-color: $mainColor;
}

.lessThan {
	color: white;
	padding: 0 .5em;
	font-size: 25px;
  font-weight: 400;
}

.messageContainer {
  margin-left: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  padding-right: 20px;
}

#cardImage {
	padding: 0.5em 0.5em 0 0;
}

.avatarFeed {
	border-radius: 20px;
  border: 1px solid lightgray;
}

#cardInfo {
	justify-content: center;
	line-height: 1.3em;
	padding: .5em 0;
}

.author {
	font-size: $small;
}

.feedStatusType {
	color: $offWhite;
	padding-left: .5em
}

.timeAgo {
	color: $offWhite;
	font-size: $small;
	font-style: italic;
	font-family: "Raleway";
	font-weight: 400;
}


