@import url(https://fonts.googleapis.com/css?family=Raleway:600,900italic);

/* FONTS: ; */
$mainFont: 'Raleway', sans-serif; 
$mainFontHeavy: 600;
$mainFontNormal: 400;

$small: .8em;
$fontHeading: 1.5em;

/* COLORS */
$mainColor: rebeccaPurple;
$secColor: #208D30;
$offWhite: color(white lightness(70%));


