@import url(https://fonts.googleapis.com/css?family=Raleway:600,900italic);
/* Colors */
$mainColor: rebeccaPurple;
$offWhite: color(white lightness(70%));

/* fonts */
$brandFont: bebas-neue, sans-serif;
$small: .8em;
$fontHeading: 1.5em;

